.frame81 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 150px 60px;
  gap: 10px;

  position: absolute;

  width: 100%;

  height: 614px;
  left: 0px;
  top: 160px;

  background: #ffffff;
}

.frame16 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 5px;
  background: #ffffff;

  width: 1215px;
  height: 554px;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.frame9 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 50px;

  width: 491px;
  height: 383px;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.frame8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: 491px;
  height: 281px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.heading {
  width: 491px;
  height: 174px;

  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;

  color: #1f1f1f;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.subHeading {
  width: 491px;
  height: 87px;

  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #4d4d4d;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.frame7 {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  gap: 10px;

  width: 215px;
  height: 52px;

  background: linear-gradient(92.67deg, #f01928 0.91%, #f97310 104.34%);
  border-radius: 36px;

  flex: none;
  order: 1;
  flex-grow: 0;
}
.button {
  cursor: pointer;
  background: linear-gradient(94.98deg, #ef3a2f 1.34%, #fa770d 104.22%);
  border: none;
  width: 155px;
  height: 22px;
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #ffffff;

  flex: none;
  order: 0;
  flex-grow: 0;
}
