.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 30px;
  gap: 10px;
  margin-bottom: 1.6rem;
  width: 611px;
  height: 70px;
  border: none;
  background: #f2f2f2;
  border-radius: 36px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

  /* form font style*/
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #b3b3b3;
}
